 <!-- Main jumbotron for a primary marketing message or call to action -->
 <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Hola seleccion&aacute; el boton que te guste</h1>

      <a  >
        link to user component
      </a>

      <p><a class="btn btn-primary btn-lg" href="#" [routerLink]="[{ outlets:{'interno':'componente-a'}}]" role="button">Componente A</a></p>
      <p><a class="btn btn-primary btn-lg" href="#"  [routerLink]="['/inicio/componente-b']"role="button">Componente B</a></p>
      <p><a class="btn btn-primary btn-lg" href="#"  [routerLink]="['/inicio/componente-c']" role="button">Componente C</a></p>
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-4">
          <router-outlet name="interno">
          </router-outlet>
      </div>
      <div class="col-md-4">
        asdasdasd
      </div>
      <div class="col-md-4">
        adasdasdasd
      </div>
    </div>

    <hr>

  </div> <!-- /container -->
