 <form [formGroup]="crearForm"  (ngSubmit)="Crear()" >
    <div class="container">
      <label><b>Sabor</b></label>
      <input type="text" placeholder="Ingresa el sabor" name="sabor" [formControl]="sabor" required>

      <label><b>Tipo</b></label>
      <select  name="tipo" [formControl]="tipo" >
        <option value="agua" >Agua</option>
        <option value="crema" >Crema</option>
      </select>

      <label><b>Peso</b></label>
      <input type="number" placeholder="Ingresa el peso en kg " name="kilos" [formControl]="kilos" required>
      <div>
        <button type="submit" class="signupbtn" [disabled]="!crearForm.valid">Crear</button>
      </div>
    </div>
  </form>
